# Node.js
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
db.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Build artifacts
release/
build/
*.tar.gz
*.zip

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite
.vite/

# PNPM
pnpm-lock.yaml
--store-dir/
